[Unit]
Description=Nextcloud cron service
Wants=nextcloud.service
After=nextcloud.service

[Service]
Type=oneshot
ExecStart=podman exec -it nextcloud /lifecycle.sh periodic
