[Unit]
Description=Nextcloud cron service
Wants=nextcloud-server.service
After=nextcloud-server.service

[Service]
Type=oneshot
ExecStart=podman exec -it nextcloud-server /lifecycle.sh periodic
