PASSPHRASE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_ENDPOINT_URL= # https://s3.[REGION].amazonaws.com
AWS_BUCKET=
FULL_IF_OLDER_THAN=1W
REMOVE_OLDER_THAN=30D
KEEP_INCS_FOR_FULL_BACKUPS=2
VOLUME_SIZE=1024
