[Unit]
Description=Cloudflare DDNS
Wants=wait-for-online.service
After=wait-for-online.service

[Container]
ContainerName=cloudflare-ddns
Image=docker.io/favonia/cloudflare-ddns:latest
AutoUpdate=registry
EnvironmentFile=/home/core/env/ddns.env

[Service]
Type=oneshot
