[Unit]
Description=Duplicity backup
After=dump-db.service
Requires=dump-db.service

[Container]
ContainerName=duplicity-backup
Image=ghcr.io/tecnativa/docker-duplicity:latest
Exec=sh -c 'duplicity --full-if-older-than $FULL_IF_OLDER_THAN --s3-endpoint-url $SCW_ENDPOINT_URL --s3-region-name $SCW_REGION /state $SCW_BUCKET'
EnvironmentFile=/home/core/env/backup.env
Volume=/home/core/state:/state:z
Volume=/home/core/duplicity:/root/.cache/duplicity:z

[Service]
Type=oneshot
