[Unit]
Description=Duplicity backup
After=dump-db.service
Requires=dump-db.service

[Container]
ContainerName=duplicity-backup
Image=ghcr.io/tecnativa/docker-duplicity:latest
Exec=sh /usr/bin/backup.sh
EnvironmentFile=/home/core/env/backup.env
Volume=/home/core/state:/state:z
Volume=/home/core/duplicity:/root/.cache/duplicity:z
Volume=/home/core/backup.sh:/usr/bin/backup.sh:z,ro

[Service]
Type=oneshot
