[Unit]
Description=Nextcloud MariaDB container
After=duplicity-restore.service

[Container]
ContainerName=mariadb
Image=docker.io/mariadb:10.6
AutoUpdate=registry
Exec=--transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
UserNS=keep-id:uid=999,gid=999
Environment=MARIADB_AUTO_UPGRADE=1
Environment=MYSQL_DATABASE=nextcloud
Environment=MYSQL_USER=nextcloud
Environment=MYSQL_PASSWORD=nextcloud
Environment=MYSQL_ROOT_PASSWORD=nextcloud
Volume=/home/core/mariadb:/var/lib/mysql:Z
Volume=/home/core/state/initdb:/docker-entrypoint-initdb.d:z,ro
Network=nextcloud.network
Pod=nextcloud.pod

[Service]
Restart=always
TimeoutStartSec=900
