[Unit]
Description=Nextcloud Valkey container

[Container]
ContainerName=valkey
Image=docker.io/valkey/valkey:7.2-alpine
AutoUpdate=registry
Pod=nextcloud.pod
Network=nextcloud.network

[Service]
Restart=always
